body {
    color: #fff;
}

.choice-container {
    display: flex;
    margin-bottom: 1.5rem;
    border-radius: 4px;
    width: 100%;
    background: #117eb1;
    padding: 0.4rem;
    min-width: 8rem;
    font-size: 1.2rem;
    width: 50vw;
}
.choice-container:hover{
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 0 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    transition:transform 0.100s ease;
}

.choice-prefix{
    padding: 1rem 2.4rem;
    color: #fff;
}

.choice-text{
    padding: 1rem;
    width: 100%;
}

.correct{
    background: linear-gradient(rgb(54, 238, 8) 0%,rgb(32, 221, 14) 100%);
}
.incorrect{
    background: linear-gradient(rgb(238, 8, 8) 0%,rgb(221, 35, 14) 100%);
}

#hud{
    display: flex;
    justify-content: space-between;
}

#hud-prefix{
    text-align: center;
    font-size: 2rem;
}

#hud-text{
    text-align: center;
}

#progressBar{
    width: 10rem;
    height: 1rem;
    border: 3px solid rgb(54, 238, 8);
    margin-top: 0.7rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull{
    height: 100%;
    width: 0%;
    background: rgb(54, 238, 8);
}

#question{
    margin: 2.5rem 0;
}